# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.production

# Backups
backup/

# Logs
*.log
npm-debug.log*

# Arquivos temporários
*.tmp
*.temp

# Arquivos de sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
